
.container  {
    max-width: 1140px;
    margin: 16px auto;
    /* padding-left: 46px; */
    /* text-align: center; */
  }
  
  .h1 {
    color: var(--bunner-text);
    text-align-last: left;
    margin-left: 46px;
    transition: all 0.7s;
  }
  
  .h1:hover {
    color: #009579;
  }












#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }